# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# LARGE FILES
resources/*.apk
#THIS DOE SNOT SPECIFY WHAT TO IGNORE, ALL APK FILES WITIN RESOURCES FODLER
resources/Heavy Duty Calculator.apk
# THIS STATES EXACTLY WHAT FILE TO IGNORE